[Desktop Entry]
Type=Application
Name=AppArmor Notify
Comment=Receive on screen notifications of AppArmor denials
TryExec=/usr/bin/aa-notify
Exec=/usr/bin/aa-notify --poll --merge-notifictions --since-days 1 --wait 5
StartupNotify=false
NoDisplay=true
X-Ubuntu-Gettext-Domain=aa-notify
